h1 { 
	background-color: green; 
} 
/* body{
	background-color:red;
} */

p {
	color: white;
}
table{
background-color: purple;
background-position: 10;
}
table{
color: black;
}
body{
background-image: img url="../images/1200999472_00.jpg" ; 

}



	